/*#region Premade*/
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
/*#endregion*/

/*#region HC Outdoor style sheet*/

/*#region Header*/
header {
    background-image: url("../pictures/forest-banner.jpg");
    background-size: cover;
    background-position-y: 55%;
}

.hco-nav-banner {
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    margin: 0px !important;
}



.hco-nav-menu-item {
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    width: fit-content;
    border-radius: 15px;
    padding: 0px;
    margin: auto;
    display: flex;
    flex-direction: row;
    list-style: none;
}

    .hco-nav-menu-item li {
        padding: 5px 10px;
    }

        .hco-nav-menu-item li a {
            color: white;
        }

            .hco-nav-menu-item li a:hover {
                color: #e5e5e5;
                text-decoration: underline;
                /*background-color: rgba(0,0,0,0.55);*/
                background-color: #496231;
                border-radius: 15px;
            }

.hco-current-page {
    color: #e5e5e5;
    text-decoration: underline;
    background-color: #61982b;
    border-radius: 15px;
}


.hco-nav-image, .hco-nav-menu {
    width: 100%;
    text-align: center;
    backdrop-filter: inherit;
    max-width: 100%;
}

    .hco-nav-image img {
        height: 128px;
        margin-top: 15px;
        margin-bottom: 10px;
        background-color: rgba(200,200,200,0.7);
        box-shadow: 0px 0px 15px #2b940d;
        border-radius: 50%;
    }

.hco-nav-menu-item {
    margin-bottom: 5px;
}

.hco-nav-item-forside {
    order: 1;
}

.hco-nav-item-about {
    order: 3;
}

.hco-nav-item-package {
    order: 4;
}

.hco-nav-item-Contact {
    order: 5;
}

.hco-nav-item-pics {
    order: 2;
}
/*#endregion*/

/*#region General*/

.hco-body-container {
    background-color: white;
}

body {
    margin-bottom: 240px;
}

.hco-page-devider {
    height: 50%;
    max-width: 100%;
    overflow: hidden;
}

    .hco-page-devider img {
        width: 100%;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

.hco-container {
    padding: 10px 0px;
}
/*#endregion*/

/*#region About*/
.hco-about-info-section {
    display: flex;
    flex-direction: row;
}

.hco-about-info-text, .hco-about-info-img {
    width: 50%;
}

    .hco-about-info-img img {
        width: 100%;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        border-radius: 15px;
        box-shadow: 0px 0px 10px #373737;
    }


.hco-about-info-text {
    display: block;
    margin: auto;
    padding: 0px 20px;
}
/*#endregion*/

/*#region Contact*/
.hco-contact-title h1 {
    text-align: center;
}

.hco-contact-form-item {
    display: flex;
    flex-direction: column;
}

.hco-contact-form-double {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    .hco-contact-form-double .hco-contact-form-item {
        width: 47.5%;
    }


.hco-contact-form {
    width: 50%;
    margin: auto;
}

.hco-contact-form-item input, #hco-contact-message {
    border-radius: 10px;
    border: 0px;
    outline: none;
    background-color: #fff;
    border: 2.5px solid #83b94d;
    padding: 7.5px 15px;
    color: black;
}

#hco-contact-message {
    min-height: 200px;
}

.hco-contact-form-single, .hco-contact-form-double {
    margin: 20px 0px;
}

.hco-contact-submit {
    display: block;
    margin: 20px auto 0px auto;
    width: fit-content;
    padding: 10px 20px;
    background-color: #70d541;
    outline: none;
    border: none;
    color: white;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 700;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #fff inset !important;
}

.hco-contact-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hco-contact-form {
    width: 70%;
}

.hco-contact-details {
    width:20%;
    height: 100%;
    display: block;
    margin: auto;
}

.hco-contact-info {
    margin: 25px 0px;
}

    .hco-contact-info a {
        color: black;
    }

        .hco-contact-info a:hover {
            color: black;
            text-decoration:underline;
        }

        .hco-contact-info a img {
            height: 32px;
            margin-right: 10px;
        }
/*#endregion*/
/*#region events*/
.hco-packages {
    display: flex;
    flex-direction: row;
}

.hco-package-item {
    width: 33%;
}

.hco-package-title h2 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.hco-package-img a img {
    width: 80%;
    display: block;
    margin: 10px auto;
}

.hco-package-btn a {
    display: block;
    padding: 7.5px 15px;
    font-size: 18px;
    margin: auto;
    color: black;
    background-color: #a8e072;
    box-shadow: 0px 0px 5px #89c352;
    width: fit-content;
    border-radius: 15px;
}

    .hco-package-btn a:hover {
        background-color: #a6de70;
        box-shadow: 0px 0px 10px #69ad29;
        color: black;
        text-decoration: underline;
    }


/*#endregion*/

/*#region Footer*/
.footer {
    background-color: #000;
    background-image: url("../pictures/forest-banner.jpg");
    background-size: cover;
    background-position-y: 90%;
    color: #fff;
    z-index: -1;
}

    .footer a {
        color: #fff;
    }

        .footer a:hover {
            color: #f0f0f0;
        }


.hco-footer-blur {
    backdrop-filter: blur(2px);
}
/*#endregion*/

/*#endregion*/
