@page
@model HCOutdoor.Pages.KontaktModel
@{
    ViewData["Title"] = "Kontakt";
}

<div class="hco-contact-container">
    <div class="hco-contact-title"><h1>Kontakt mig</h1></div>
    <div class="hco-contact-form">
        <form method="post">
            <div class="hco-contact-form-double">
                <div class="hco-contact-form-item">
                    <label for="hco-contact-name">Navn</label>
                    <input type="text" id="hco-contact-name" />
                </div>
                <div class="hco-contact-form-item">
                    <label for="hco-contact-email">Email</label>
                    <input type="text" id="hco-contact-email" />
                </div>
            </div>
            <div class="hco-contact-form-single">
                <div class="hco-contact-form-item">
                    <label for="hco-contact-topic">Emne</label>
                    <input type="text" id="hco-contact-topic" />
                </div>
            </div>
            <div class="hco-contact-form-single">
                <div class="hco-contact-form-item">
                    <label for="hco-contact-message">Besked</label>
                    <textarea id="hco-contact-message"></textarea>
                </div>
            </div>
            <input type="submit" name="Send" class="hco-contact-submit" />
        </form>
    </div>
</div>
