@page
@model HCOutdoor.Pages.ForsideModel
@{
    ViewData["Title"] = "Om mig";
}

<div class="hco-about-container">
    <div class="hco-about-img">
        <img src="/pictures/HC-Selfie.png"/>
    </div>
    <div class="hco-about-title"><h1>Tankerne bag</h1></div>

    <div class="hco-about-text">
        <p>
            <br /><br />Jeg har gjort det i mange år, hygget om bålet og bålets flammer tiltrækker og indbyder til en snak.
            <br /><br />Når mennesker laver mad sammen, opstår der en forbindelse som intet andet kan skabe. Man bestemmer selv resultatet og forventningerne kan være høje og så smager maden bare bedre når den er tilberedt over bål
            <br /><br />Maden der skal tilberedes er ”simpel” mad, det kræver ikke det store kendskab til madlavning endsige en ph.d i molekyrlær gastronomi. Men bålet giver det varme og lidt røgsmag, samtidig med at det udfordrer deltagerne da man ikke kan ”skrue op og ned” på samme måde som hjemme.
            <br /><br />Maden er ikke det man vil opleve at mange står og kokkerer derhjemme, så det vil forhåbentlig også give inspiration til grillen eller bålfadet derhjemme. Derfor lægger jeg også vægt på at de råvarer vi bruger ikke er svære at få fat i og det skal også gerne være nogen som man ikke kun køber til et formål. Alle grundopskrifter opskrifter kan sendes efterfølgende.
            <br /><br />Vi skal frem til et lækkert resultat som folk glæder sig til at sætte tænderne i, samtidig med at vi får en på opleveren.
            <br /><br />Velbekomme 😊
        </p>
    </div>



</div>