@page
@model HCOutdoor.Pages.ForsideModel
@{
    ViewData["Title"] = "Om mig";
}

<div class="hco-about-container">
    <div class="hco-about-info-section">
        <div class="hco-about-info-img">
            <img src="~/pictures/Mig.jpg" />
        </div>
        <div class="hco-about-info-text">
            <h1 class="text-center">Om mig</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt non odio vel pharetra. Aenean vel consequat lectus. Suspendisse aliquet sem sed dictum dignissim. Nam ac nulla congue, pulvinar dolor vel, pretium leo. Curabitur interdum ultricies pellentesque. Phasellus a tellus sed odio porta placerat sit amet sit amet libero. Nunc elementum leo dui, in finibus eros faucibus ac. Integer facilisis elit purus, molestie molestie felis ultricies nec. Suspendisse potenti. Aliquam risus massa, dignissim eget placerat et, aliquam a tellus. Suspendisse eu tempus tortor, quis vehicula eros. Sed a dui sed est dictum faucibus id aliquet quam. Phasellus nulla erat, consectetur aliquam tempus sed, tincidunt ac nulla. Donec vulputate sodales purus ultrices iaculis.</p>
        </div>
    </div>
    <div class="hco-about-info-section">
        <div class="hco-about-info-text">
            <h1 class="text-center">Om turen</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt non odio vel pharetra. Aenean vel consequat lectus. Suspendisse aliquet sem sed dictum dignissim. Nam ac nulla congue, pulvinar dolor vel, pretium leo. Curabitur interdum ultricies pellentesque. Phasellus a tellus sed odio porta placerat sit amet sit amet libero. Nunc elementum leo dui, in finibus eros faucibus ac. Integer facilisis elit purus, molestie molestie felis ultricies nec. Suspendisse potenti. Aliquam risus massa, dignissim eget placerat et, aliquam a tellus. Suspendisse eu tempus tortor, quis vehicula eros. Sed a dui sed est dictum faucibus id aliquet quam. Phasellus nulla erat, consectetur aliquam tempus sed, tincidunt ac nulla. Donec vulputate sodales purus ultrices iaculis.</p>
        </div>
        <div class="hco-about-info-img">
            <img src="~/pictures/Shelter.jpg" />
        </div>
    </div>

    <div class="hco-about-info-section">
        <div class="hco-about-info-img">
            <img src="~/pictures/Mad.jpg" />
        </div>
        <div class="hco-about-info-text">
            <h1 class="text-center">Maden</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt non odio vel pharetra. Aenean vel consequat lectus. Suspendisse aliquet sem sed dictum dignissim. Nam ac nulla congue, pulvinar dolor vel, pretium leo. Curabitur interdum ultricies pellentesque. Phasellus a tellus sed odio porta placerat sit amet sit amet libero. Nunc elementum leo dui, in finibus eros faucibus ac. Integer facilisis elit purus, molestie molestie felis ultricies nec. Suspendisse potenti. Aliquam risus massa, dignissim eget placerat et, aliquam a tellus. Suspendisse eu tempus tortor, quis vehicula eros. Sed a dui sed est dictum faucibus id aliquet quam. Phasellus nulla erat, consectetur aliquam tempus sed, tincidunt ac nulla. Donec vulputate sodales purus ultrices iaculis.</p>
        </div>
    </div>
    <div class="hco-about-info-section">
        <div class="hco-about-info-text">
            <h1 class="text-center">Natur</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt non odio vel pharetra. Aenean vel consequat lectus. Suspendisse aliquet sem sed dictum dignissim. Nam ac nulla congue, pulvinar dolor vel, pretium leo. Curabitur interdum ultricies pellentesque. Phasellus a tellus sed odio porta placerat sit amet sit amet libero. Nunc elementum leo dui, in finibus eros faucibus ac. Integer facilisis elit purus, molestie molestie felis ultricies nec. Suspendisse potenti. Aliquam risus massa, dignissim eget placerat et, aliquam a tellus. Suspendisse eu tempus tortor, quis vehicula eros. Sed a dui sed est dictum faucibus id aliquet quam. Phasellus nulla erat, consectetur aliquam tempus sed, tincidunt ac nulla. Donec vulputate sodales purus ultrices iaculis.</p>
        </div>
        <div class="hco-about-info-img">
            <img src="~/pictures/Natur.jpg" />
        </div>
    </div>

</div>